@import "tailwindcss";
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&display=swap');

@layer utilities {
  .scrollbar-hidden {
    overflow: auto;
    scrollbar-width: none;
    -ms-overflow-style: none;
  }

  .scrollbar-hidden::-webkit-scrollbar {
    display: none;
  }
}

@theme {
  --color-black1: #121212;
  --color-gray1: #2a2a2a;
}


:root {
  font-family: 'Inter', sans-serif;
}
