<!-- login view -->
<div class="flex h-screen w-full justify-center items-center ">
  <div class="m-auto">
    <h1 class="text-5xl text-center text-white">Coda</h1>
    <p class="mt-4 text-center text-gray-600">Track your listening habits and discover your music trends</p>
  
    <div class="mt-8 text-center">
      <%= button_to "Login with Spotify", "/auth/spotify", method: :post, form: { "data-turbo" => "false" }, class: "bg-black1 hover:bg-gray-800 text-white py-2 px-4 border-2 border-gray1 rounded" %>
   </div>
  </div>
</div>